@import "bourbon/bourbon";
@import "neat/neat";
@import "global.scss";
@import "intrinsic.scss";

.editor {
  position: relative;
  .body {
    line-height: 1.5;
    padding: 1em;
  }
  .message {
    position: absolute;
    right: 0;
    top: 50px;
    padding: 0.5em;
  }
}

.image-upload {
  // position: relative;
  .hide-input {
    position: absolute;
    display: none;
  }

  .lead-image {
    min-height: 400px;
    background: white;
    text-align: center;
    &:hover {
      cursor: pointer;
      // @extend .dim;
    }  
  }

  figure {
    width: 50%;
    padding: 12em;
    // display: flex;
    // justify-content: center;
    margin: 0;
    float: left;
    transition: background 0.15s ease-in;
    &:hover {
      cursor: pointer;
      background: $grey;
    }
    &:active {
      background: $blue;
    }
    figcaption {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-top: 0.5em;
    }
    img {
      margin-left: 5px;
    }
  }

  iframe {
    height: 560px;
  }

  h3 {
    position: absolute;
    bottom: 1em;
  }
}

.dark {
  background: black !important;
}

.loader {
  background-image: url("/res/loader.gif");
  width: 120px !important;
  margin: 6em;
}

.video-input {
  * {
    width: 100%;
  }
  
  button {
    // height: 40px;
    margin-top: 0.5em;
    padding: 0.5em;
  }
}

// img[src$=".gif"] {
//   background: red;
//   background-image: url("/res/loader.gif");
//   width: 120px !important;
//   margin: 6em;
// }

.story-content {
  .edit {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: $red;
    color: white;
    padding: 0.5em
  }
}

.save {
  position: absolute;
  right: 0;
  top: 0;
}

// .error-text {
//   // padding: 0.5em;
//   width: 100%;
//   color: $red;
//   float: left;
// }

.public-DraftEditorPlaceholder-root {
    color: #9197a3;
    position: absolute;
    z-index: 0;
}

// .public-DraftEditor-content {
//   outline: none;
// }

.public-DraftEditorPlaceholder-hasFocus {
    color: #bdc1c9;
}
