@import "bourbon/bourbon";
@import "neat/neat";
@import "global.scss";
// @import "../../node_modules/tachyons-sass/tachyons.scss";

.editor {
  padding: 1em;
}

.image-upload {
  position: relative;
  input {
    display: none;
  }
  div {
    position: relative;
    &:hover {
      cursor: pointer;
      &:after {
        visibility: visible;
      }
    }
  }
  div:after {
    content: "";
    visibility: hidden;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  h3 {
    position: absolute;
    bottom: 1em;
  }
}

.story-content {
  .edit {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: $red;
    color: white;
    padding: 0.5em
  }
}

.error-text {
  // padding: 0.5em;
  width: 100%;
  color: $red;
  float: left;
}

.public-DraftEditorPlaceholder-root {
    color: #9197a3;
    position: absolute;
    z-index: 0;
}

// .public-DraftEditor-content {
//   outline: none;
// }

.public-DraftEditorPlaceholder-hasFocus {
    color: #bdc1c9;
}
