@import "bourbon/bourbon";
@import "neat/neat";
@import "global.scss";
// @import "intrinsic.scss";

.editor {
  position: relative;
  .body {
    line-height: 1.5;
    padding: 1em;
  }
  .message {
    position: absolute;
    right: 0;
    top: 50px;
    padding: 0.5em;
  }
}

.image-upload {
  .hide-input {
    position: absolute;
    display: none;
  }

  .lead-image {
    position: relative;
    min-height: 500px;
    // text-align: center;
    &:hover {
      cursor: pointer;
    }  
  }

  figure {
    width: 50%;
    padding: 12em;
    margin: 0;
    float: left;
    transition: background 0.15s ease-in;
    &:hover {
      cursor: pointer;
      background: $grey;
    }
    &:active {
      background: $blue;
    }
    figcaption {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-top: 0.5em;
    }
    img {
      margin-left: 5px;
    }
  }

  iframe {
    height: 560px;
  }

  h3 {
    position: absolute;
    bottom: 1em;
  }
}

.center-content {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.light {
  background: white !important;
}

.corner-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white !important;
}

.loader {
  // background-image: url("/res/loader.gif");
  width: 120px !important;
  margin: 6em;
}

.video-input {
  * {
    width: 100%;
  }
  
  button {
    margin-top: 0.5em;
    padding: 0.5em;
  }
}

.story-content {
  .edit {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: $red;
    color: white;
    padding: 0.5em
  }
}

.ctrl-bar {
  @extend .card;
  position: absolute;
}

.save {
  position: absolute;
  right: 0;
  top: 0;
}

.public-DraftEditorPlaceholder-root {
    color: #9197a3;
    position: absolute;
    z-index: 0;
}

// .public-DraftEditor-content {
//   outline: none;
// }

.public-DraftEditorPlaceholder-hasFocus {
    color: #bdc1c9;
}
