@import 'neat/neat';
@import 'global.scss';

.explore {
  text-transform: uppercase;
  // @include fill-parent();
  // @include row(table);
}

.v-list {
  text-align: center;

  li {
    font-family: 'bebas book';
    font-size: 1.5em;
    color: $blue;
    @include vertical-margin(0.5em);
    &:hover {
      @extend .dim;
      cursor: pointer;
    }
    padding: 0.2em;
    @include large {
      padding: 0;
    }
  }
}

.fillwhite {
  background: white;
  display: inline-block;
  width: 100%;
  padding: 1em;
}
