$lightgrey: #e3e3e3;
$darkgrey: #c9c9c9;
$darkest: #3d464d;
// $blue: #2e9fff;
$darkblue: #89bdd3;
$red: #CF3934;

$yellow: #FCEE21;
$blue: #0581B9;
$purple: #54498E;
$green: #88A547;
$grey: #9FB1BC;

.dim { opacity: 1; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in; }
.dim:hover, .dim:focus { opacity: .5; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in; }
.dim:active { opacity: .8; -webkit-transition: opacity .15s ease-out; transition: opacity .15s ease-out; }

@mixin vertical-margin($v) {
  margin: $v 0 $v 0;
}

@mixin whitebox {
  background-color: white;
  color: black;
}

@mixin ease($property, $duration) {
  @include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function(cubic-bezier(0.33, 0.66, 0.66, 1));
}

// @mixin find($color) {
//   outline: 4px dotted $color;
// }

// Media Query mixins
$s-width: 320px;
$m-width: 768px;
$l-width: 1024px;

@mixin small {
  @media (min-width: #{$s-width}) and (max-width: #{$m-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$m-width}) and (max-width: #{$l-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$l-width}) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}


// @mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 45%)) {
//   // For Google Chrome
//   // overflow-y: scroll;
//   ::-webkit-scrollbar {
//       width:  $size;
//       height: $size;
//   }

//   ::-webkit-scrollbar-thumb {
//       background: $foreground-color;
//   }

//   ::-webkit-scrollbar-track {
//       background: $background-color;
//   }

//   // For Internet Explorer
//   body {
//     scrollbar-face-color: $foreground-color;
//     scrollbar-track-color: $background-color;
//     overflow-y: scroll;
//   }
// }
