@import "normalize.css";
@import "bourbon/bourbon";
@import "neat/neat";
@import "../../node_modules/react-select/dist/react-select.css";
@import "global.scss";
@import "editor.scss";
@import "explore.scss";
@import "home.scss";
@import "login.scss";
@import "nav.scss";
@import "page.scss";
@import "response.scss";
@import "stories.scss";
@import "story.scss";
@import "tags.scss";

@font-face {
  font-family: 'crazy';
  src: url('./fonts/CrazyThoughts.otf') format("opentype");
}

@font-face {
    font-family: "bebas";
    src: local("Bebas Neue"), local(BebasNeue), url('./fonts/BebasNeue Regular.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "bebas bold";
    src: local("Bebas Neue"), local(BebasNeue), url('./fonts/BebasNeue Bold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
  font-family: 'bebas book';
  src: url('fonts/BebasNeue Book.otf') format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: 'bebas light';
  src: url('fonts/BebasNeue Light.otf') format("opentype");
  font-weight: 100;
}

* {
  border-sizing: border-box;
}

html, body, #mount {
  height: 100%
}

body {
  background-color: black;
  color: white;
  overflow-y: scroll;
}

h1 {
  font-family: 'bebas bold', sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  text-transform: uppercase;
  color: $yellow;
  @include desktop {
    font-size: 5em;
  }
}

h2 {
  font-family: 'bebas bold', sans-serif;
  font-size: 1.75rem;
  padding: 0.5rem;
  padding-bottom: 0.25rem;
  margin: 0;
  display: inline-block;
  color: black;
  font-weight: bold;
  background-color: $yellow;
  text-transform: uppercase;
}

h3 {
  font-family: 'bebas bold', sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  @include vertical-margin(0.5rem);
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-family: 'bebas book', sans-serif;
  letter-spacing: .1em;
  font-size: 1.5em;
  margin: 0;
  text-transform: uppercase;
}

p {
  font-family: 'Unna', serif;
  margin: 0;
  line-height: 1.5;
  padding: 1em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  @include vertical-margin(0.5rem);
}

input {
  padding: 0.5em;
}

.fancy {
  font-family: 'crazy', sans-serif;
  h1 {
    font-family: inherit;
    font-size: 6em;
    font-weight: normal;
    @include desktop {
      font-size: 10em;
    }
  }
}

// $not-small: new-breakpoint(min-width 400px max-width 600px);
// @mixin media($not-small) {
//   .fancy {
//     h1 {
//       font-size: 1rem;
//     }
//   }
// }

.button {
  background: white;
  padding: 1em;
  min-width: 90px;
  color: black;
  border: none;
  border-radius: 3px;
  // line-height: 50px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  &:hover {
    cursor: pointer;
    @extend .dim;
  }
}

button {
  @extend .button;
}

.primary {
  background: $darkblue;
  color: white;
}

.secondary {
  background: transparent;
  color: $darkblue;
  box-shadow: inset 0px 0px 0px 2px $darkblue;
}

.small {
  min-width: 40px;
}

.button-group {
  padding: 1em;
  width: 100%;
  button {
    margin-right: 0.5em;
  }
}

.error {
  color: $red;
}

.hoverfade {
  opacity: 1;
  transition: all .15s ease-out;
  &:hover {
    cursor: pointer;
    opacity: .9;
    transition: all .15s ease-out;
  }
}

.logo:hover {
  cursor: pointer;
}

.disabled {
  opacity: .5;
  &:hover {
    cursor: not-allowed;
  }
}

.write {
  &:hover {
    cursor: cell;
  }
}

.stretch {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  h4 {
    font-size: 1em;
    line-height: 60px;
  }
}

// .explore {
//   width: 100%;
//   height: 80vh;

//   h2 {
//     margin-top: 0;
//     padding-left: 3em;
//     padding-right: 3em;
//   }
// }


// .center-wrap {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   margin-top: 0;
// }
