@import "bourbon/bourbon";
@import "neat/neat";
@import "global.scss";

// Nav style
nav {
  z-index: 1;
  top: 0;
  color: white;
  background-color: black;
  padding: 0.75em;
  width: 100%;
  height: 90px;
  img {
    height: 100%;
  }
}

.nav-left, .nav-right {
  height: 100%;
}
.nav-left {
  @include span-columns(1);
  img:hover {
    cursor: pointer;
  }
}
.nav-right {
  @include span-columns(6);
  @include shift(5);
  // @include small {
    // @include shift(7);
  // }
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  font-family: 'bebas bold';
  font-size: 1.25em;
  @extend .dim;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.25em;
}

.active {
  color: $blue;
}

.nav-sticky {
  position: fixed;
  // height: 100px;
  opacity: 1;
  @include transition(opacity 0.3s ease-in-out);
}

.hide {
  opacity: 0;
  z-index: -1;
}

.h-nav {
  display: none;
  @include large {
    display: block;
  }
}

.sidebar {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
  height: 100%;
  overflow: hidden;
}

.sidebar-wrap {
  @include large {
    display: none;
  }

  .nav-link {
    display: block;
    margin-bottom: 1em;
  }

  button {
    color: white;
    background: black;
  }
}

.sidebar-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .3s ease-out, visibility .3s ease-out;
  background-color: rgba(0,0,0,.3);
}

.sidebar-content {
  z-index: 2;
  background: black;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  padding: 1em;
  padding-top: 3em;
}

.sidebar-enter {
  transform: translate(100%);
}
.sidebar-enter.sidebar-enter-active {
  transform: translate(0%);
  transition: transform 200ms ease-in-out;
}
.sidebar-leave {
  transform: translate(0%);
}
.sidebar-leave.sidebar-leave-active {
  transform: translate(100%);
  transition: transform 200ms ease-in-out;
}
