@import "neat/neat";
@import "global.scss";

.page {
  color: black;
  margin-top: 2em;
  @include large {
    margin-top: 4em;
  }
  @include outer-container(900px);

  .lead-image {
    .loader {
      width: 120px;
    }

  }
}

.overlay {
  padding: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: inline-block;
  @include outer-container;

  article {
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    padding-bottom: 6em;
    @include span-columns(10);
    @include shift(1);
  }
}

header {
  @extend .small-card;
  text-transform: uppercase;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  background-color: $yellow !important;

  margin-bottom: 2em;

  @include small {
    margin-bottom: 1em;
  }

}

.card {
  display: inline-block;
  @include whitebox;
  p {
    display: inline-block;
  }
}

.large-card {
  @extend .card;
  @include span-columns(9);
  &.center {
    @include shift(2)
  }

  @include small {
    @include span-columns(11);
    @include shift(0.5);
    // @include omega();
  }
}

.small-card {
  @extend .card;
  @include span-columns(6)
  &.center {
    @include shift(3)
  }
  @include small {
    @include span-columns(11);
    &.center {
      @include shift(0.5);
    }

  }
}

.third-card {
  @extend .card;
  @include span-columns(4, block-collapse);
  // @include pad();
  // @include reset-display;
  // @include omega();
}

.right {
  float: right;
  h2 {
    float: right;
  }
}

.center {
  display: flex;
  flex-direction: column;
}

.full {
  width: 100%;
}

.measure {
  max-width: 40em;
  display: inline-block;
}

.space-top {
  margin-top: 2em;
  @include small {
    margin-top: 1em;
  }
}

.space-bottom {
  margin-bottom: 2em;
}
