@import "neat/neat";
@import "global.scss";

.stories {
  color: white;

  header {
    position: relative;
  }

  .title-over {
    font-size: 1.2em;
    padding: 0.5em;
    display: block;
    position: absolute;
    bottom: 0;
    color: white;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.75);

    &:hover {
      color: $red;
      img {
        @extend .dim;
      }
    }
  }
  // &:hover {
  //   color: $red;
  //   img {
  //     @extend .dim;
  //   }
  // }
}

.stories-link {
  position: relative;
  @include span-columns(6);
  @include small {
    @include omega(2n);
  }
  @include medium {
    @include span-columns(4);
    @include omega(3n);
  }
  @include large {
    @include span-columns(3);
    @include omega(4n);
  }

  margin-bottom: 1em;
  overflow: hidden;

  // background: $blue;

  img {
    opacity: 0.8;
    width: 100%;
  }

  &:hover {
    // color: $red;
    img {
      @extend .dim;
    }
  }
}

.loader {
  padding: 2em;
}

span.failed {
 display: inline-block;
}

.back {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  font-size: 1.3em;
  min-width: 20px;
  text-align: left;
  line-height: 2em;
}

//About page
.contributors {
  @include outer-container;
  padding: 2em;

  div {
    @include span-columns(4);
    @include omega(3n);

    @include medium {
      @include span-columns(6);
      // @include omega();
    }

    @include small {
      // @include span-columns(4);
      width: 100%;
      @include omega(4n);
    }
    padding: 1em;
  }

  img {
    width: 100%;
    border-radius: 500px;
  }

  h4 {
    text-align: center;
  }

  span {
    font-family: 'Unna', serif;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 0.5em;
  }

}
