@import "neat/neat";
@import "global.scss";

.stories {

  h4 {
    padding: 1em;
    display: block;
    position: absolute;
    bottom: 0;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    &:hover {
      color: $red;
    }
  }
}

.stories-link {
  position: relative;
  background: $blue;
  @include span-columns(3);
  @include omega(4n);
  margin-bottom: 1.5em;
  img {
    width: 100%;
  }
  &:hover {
    img {
      @extend .dim;
    }
  }
  .loader {
    padding: 4em;
  }
}
