public/img
public/js/bundle.js
public/js/bundle.min.js
public/js/App.jsx
public/.DS_Store
etc/
testImages
node_modules/
rethinkdb_data
npm-debug.log
savedStyles/
.sass-cache/
aws_config.json
.DS_Store
