<h1>Hi.</h1>
<p>Welcome to {{title}}</p>
<div id="react-app-mount">
	{{reactOutput}}
</div>
<!-- <script type="text/javascript" src="http://fb.me/react-with-addons-0.13.1.js"></script>
<script type="text/javascript" src="http://fb.me/JSXTransformer-0.13.1.js"></script>
<script type="text/jsx" src="http://localhost:3000/js/ReactApp.jsx"></script> -->