<!DOCTYPE html>
<html>
  <head>
    <title>World In Me</title>
    <link rel='stylesheet' href='/css/style.min.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
