<!DOCTYPE html>
<html>
  <head>
    <title>World In Me</title>
    <link rel='stylesheet' href='/css/mainALT.css'/>
    <link rel='stylesheet' href='/css/tachyons.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css"> -->
  </head>
  <body>
    {{{body}}}

    <script type="text/javascript">
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(100917312);
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
    </script>
  </body>
</html>
