<!DOCTYPE html>
<html>
  <head>
    <title>WORLD IN WE</title>
    <link href="https://fonts.googleapis.com/css?family=Unna" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.min.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
