@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:900,700,400,300,100);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700italic,900,700);
@keyframes medium-editor-image-loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    transform: matrix(0.97, 0, 0, 1, 0, 12);
  }
  20% {
    opacity: .7;
    transform: matrix(0.99, 0, 0, 1, 0, 2);
  }
  40% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, -1);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.medium-editor-anchor-preview {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  z-index: 2000;
}
.medium-editor-anchor-preview a {
  color: #fff;
  display: inline-block;
  margin: 5px 5px 10px;
}

.medium-editor-anchor-preview-active {
  visibility: visible;
}

.medium-editor-dragover {
  background: #ddd;
}

.medium-editor-image-loading {
  animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.medium-editor-placeholder {
  position: relative;
}
.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  left: 0;
  position: absolute;
  top: 0;
  white-space: pre;
  padding: inherit;
  margin: inherit;
}

.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0;
}

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px;
}

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px 8px;
  top: -8px;
}

.medium-editor-toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000;
}
.medium-editor-toolbar ul {
  margin: 0;
  padding: 0;
}
.medium-editor-toolbar li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.medium-editor-toolbar li button {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}
.medium-editor-toolbar li button:focus {
  outline: none;
}
.medium-editor-toolbar li .medium-editor-action-underline {
  text-decoration: underline;
}
.medium-editor-toolbar li .medium-editor-action-pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  font-weight: 100;
  padding: 15px 0;
}

.medium-editor-toolbar-active {
  visibility: visible;
}

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px;
}

.medium-editor-relative-toolbar {
  position: relative;
}

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  animation: medium-editor-pop-upwards 160ms forwards linear;
}

.medium-editor-action-bold {
  font-weight: bolder;
}

.medium-editor-action-italic {
  font-style: italic;
}

.medium-editor-toolbar-form {
  display: none;
}
.medium-editor-toolbar-form input,
.medium-editor-toolbar-form a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
  line-height: 14px;
  margin-left: 5px;
  padding-bottom: 5px;
}
.medium-editor-toolbar-form .medium-editor-toolbar-input,
.medium-editor-toolbar-form label {
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  width: 316px;
  display: inline-block;
}
.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
.medium-editor-toolbar-form label:focus {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: 0;
}
.medium-editor-toolbar-form a {
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 10px;
  text-decoration: none;
}

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table;
}

[data-medium-editor-element] img {
  max-width: 100%;
}
[data-medium-editor-element] sub {
  vertical-align: sub;
}
[data-medium-editor-element] sup {
  vertical-align: super;
}

.medium-editor-hidden {
  display: none;
}

.leadimage {
  min-height: 450px;
  max-height: 950px;
  height: calc(100vh - 175px);
  color: white;
  position: relative;
}

.overlay {
  color: white;
  position: absolute;
  bottom: 6em;
}

.fullimage {
  background-color: black;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 2;
}

.darkbar {
  background-color: rgba(31, 111, 168, 0.7);
  padding: 1.5em;
  padding-left: 9em;
  padding-right: 3em;
}

.lightbar {
  background-color: rgba(130, 203, 255, 0.7);
  height: 12px;
  width: 70%;
}

.storyboard {
  padding: 5.26316%;
}
@media (min-width: 1024px) {
  .storyboard {
    padding: 0;
    padding-top: 2.5641%;
  }
}

.storyboard_item {
  position: relative;
  background-color: white;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
  -o-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
  -webkit-transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
  transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #3d464d;
  list-style-type: none;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5.26316%;
}
@media (min-width: 1024px) {
  .storyboard_item {
    width: 48.71795%;
    float: left;
    margin-bottom: 2.5641%;
    height: 650px;
  }
  .storyboard_item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .storyboard_item:nth-child(2n + 2) {
    margin-left: 51.28205%;
    margin-right: -100%;
    clear: none;
  }
}
.storyboard_item:hover {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.storyboard_item .storythumb {
  width: 100%;
}
.storyboard_item .storythumb img {
  margin: 0 auto;
  width: 100%;
}
.storyboard_item .textover {
  overflow: hidden;
  padding: 2.5641%;
  text-overflow: ellipsis;
}
.storyboard_item .textover h1 {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}
.storyboard_item .textover h3 {
  position: absolute;
  right: 2.5641%;
  bottom: 2.5641%;
}

.imguploader {
  width: 100%;
  padding-top: 60px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.imguploader img {
  max-width: 100vw;
}
.imguploader img:hover {
  cursor: pointer;
  -moz-box-shadow: #c9c9c9 -5px 5px 0px;
  -webkit-box-shadow: #c9c9c9 -5px 5px 0px;
  box-shadow: #c9c9c9 -5px 5px 0px;
}
.imguploader input {
  display: none;
}

.story {
  margin: 0 auto;
  max-width: 900px;
}
@media (min-width: 1024px) {
  .story {
    max-width: 800px;
    margin: 0 auto;
  }
}
.story .title {
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 20px;
}
@media (min-width: 1024px) {
  .story .title {
    padding-left: 20px;
    padding-top: 20px;
  }
}
.story .author {
  padding-left: 20px;
}
@media (min-width: 1024px) {
  .story .author {
    padding-left: 20px;
  }
}
.story .text {
  font-family: "PT Serif", serif;
  padding: 40px;
}
@media (min-width: 1024px) {
  .story .text {
    padding: 50px;
    font-size: 22px;
  }
}

.about {
  margin-top: 4em;
  padding: 2em;
}

.login {
  padding: 5.26316%;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.card {
  display: inline;
  padding: 2em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: black;
}

*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* *, * *:before, * *:after, *:before *, *:before *:before, *:before *:after, *:after *, *:after *:before, *:after *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #2e9fff;
}

::-webkit-scrollbar-track {
  background: #6dbcff;
}

body {
  scrollbar-face-color: #2e9fff;
  scrollbar-track-color: #6dbcff;
}

body {
  margin: 0;
  background-color: #FAFAFA;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  margin: 0;
  font-size: 50px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.8);
}

p {
  font-family: "PT Serif", georgia, serif;
  font-size: 18px;
}

ul {
  list-style: none;
}

.content {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}
.content:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1024px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

nav {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
}
nav:after {
  content: " ";
  display: block;
  clear: both;
}
nav .logo {
  position: absolute;
  padding-top: 28px;
  padding-left: 20px;
  width: 550px;
  z-index: 1;
}
nav ul {
  float: right;
  margin-right: 30px;
  margin-top: 60px;
  font-size: 16px;
}
