.image {
  min-height: 230px;
}
.image:hover {
  cursor: pointer;
  -moz-box-shadow: rgba(180, 180, 180, 0.6) 5px 5px;
  -webkit-box-shadow: rgba(180, 180, 180, 0.6) 5px 5px;
  box-shadow: rgba(180, 180, 180, 0.6) 5px 5px;
}

input[type='file'] {
  display: none;
}

.public-DraftEditorPlaceholder-root {
  color: #9197a3;
  position: absolute;
  z-index: 0;
}

.public-DraftEditorPlaceholder-hasFocus {
  color: #bdc1c9;
}

body {
  background-color: #fafafa;
}

.item {
  opacity: 1;
  transition: all .15s ease-out;
}
.item:hover {
  cursor: pointer;
  opacity: .9;
  transition: all .15s ease-out;
  -moz-box-shadow: rgba(180, 180, 180, 0.6) 5px 5px;
  -webkit-box-shadow: rgba(180, 180, 180, 0.6) 5px 5px;
  box-shadow: rgba(180, 180, 180, 0.6) 5px 5px;
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.bar1 {
  background: #CF3934;
  width: 260px;
  height: 8px;
}

.bar {
  border-color: #CF3934;
}

.logo:hover {
  cursor: pointer;
}

.disabled {
  opacity: .5;
}
.disabled:hover {
  cursor: not-allowed;
}

.write:hover {
  cursor: cell;
}

.sticky {
  background-color: rgba(255, 255, 255, 0.95);
  border-color: #d0d1d5;
}

@media screen and (max-width: 48em) {
  .sticky {
    display: none !important;
  }
}
.tag_text {
  font-size: 0.75em;
}

.active_shadow {
  -moz-box-shadow: rgba(180, 180, 180, 0.6) 5px 5px;
  -webkit-box-shadow: rgba(180, 180, 180, 0.6) 5px 5px;
  box-shadow: rgba(180, 180, 180, 0.6) 5px 5px;
}

.custom-input {
  outline: none;
}

.custom-button {
  background-color: #CF3934;
  width: 80px;
  outline: none;
  border: none;
  color: white;
}
.custom-button:hover {
  cursor: pointer;
}
.custom-button:active {
  background-color: white;
  color: #CF3934;
}
