@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:900,700,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  display: block;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #A8ADB0;
}

::-webkit-scrollbar-track {
  background: #d4d6d8;
}

body {
  scrollbar-face-color: #A8ADB0;
  scrollbar-track-color: #d4d6d8;
}

body {
  font-family: "Lato";
  font-size: 10px;
}

.wrap, #react-app-mount, .storyboard {
  max-width: 94%;
  margin-left: auto;
  margin-right: auto;
}
.wrap:after, #react-app-mount:after, .storyboard:after {
  content: " ";
  display: block;
  clear: both;
}

.content {
  width: 7.47664%;
  float: left;
  margin-right: 0.93458%;
}

a {
  color: inherit;
  text-decoration: none;
}

nav .logo {
  display: inline-block;
  margin-top: 25px;
  float: left;
}
nav ul {
  float: right;
  margin-top: 60px;
  font-size: 1.6em;
}
nav ul a {
  float: left;
  margin-left: 10px;
  align-items: center;
}
nav ul a:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #4189DD;
}

.bigimage {
  width: 100%;
  margin-bottom: 3vw;
}

.hidden {
  visibility: hidden;
}

.imageloader img {
  opacity: 1;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  -webkit-transition-duration: 5s;
  transition-duration: 5s;
  -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 90%;
}

.image_wrapper {
  position: absolute;
  overflow: hidden;
}
.image_wrapper.loaded {
  opacity: 0.9;
}

.preview {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.storyboard {
  margin: 0 auto;
  padding: 0;
}
.storyboard li {
  outline: 4px solid #7b8994;
}
@media (min-width: 320px) and (max-width: 767px) {
  .storyboard li {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
  }
}
@media (min-width: 1024px) {
  .storyboard li {
    width: 47.05882%;
    float: left;
    margin-bottom: 3.73832%;
    height: 260px;
  }
  .storyboard li:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .storyboard li:nth-child(2n + 2) {
    margin-left: 52.94118%;
    margin-right: -100%;
    clear: none;
  }
}
.storyboard li:hover {
  -moz-box-shadow: #47525d 6px 6px 0px;
  -webkit-box-shadow: #47525d 6px 6px 0px;
  box-shadow: #47525d 6px 6px 0px;
  margin-top: -1px;
}
.storyboard li img {
  padding-top: 2em;
}
.storyboard li .storythumb {
  float: left;
  width: 55%;
}
.storyboard li .textover {
  display: inline-block;
}
.storyboard li .textover:hover {
  opacity: 1;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.storyboard li .textover h3 {
  font-size: 18px;
  margin: 0;
}

.leadimg {
  margin-top: 12em;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
.leadimg input {
  display: none;
}

.story {
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition-property: outline;
  -o-transition-property: outline;
  -webkit-transition-property: outline;
  transition-property: outline;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 20px;
}
.story:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1024px) {
  .story {
    max-width: 46%;
    margin-left: auto;
    margin-right: auto;
  }
  .story:after {
    content: " ";
    display: block;
    clear: both;
  }
}
.story h2 {
  color: #47525d;
  font-weight: 900;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  margin-top: 1em;
}
.story h3 {
  font-family: "Lato";
  font-size: 30px;
  color: #7b8994;
}
.story .author {
  margin-bottom: 1em;
}
.story .text {
  font-family: "PT Serif", serif;
  font-size: 2em;
  line-height: 1.58;
}
@media (min-width: 1024px) {
  .story .text {
    font-size: 1em;
  }
}

.editor {
  -moz-box-shadow: #47525d 10px 10px 0px;
  -webkit-box-shadow: #47525d 10px 10px 0px;
  box-shadow: #47525d 10px 10px 0px;
  outline: 1px solid #7b8994;
  -moz-transform: translateY(-10);
  -ms-transform: translateY(-10);
  -webkit-transform: translateY(-10);
  transform: translateY(-10);
}

.login {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 4em;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.login:after {
  content: " ";
  display: block;
  clear: both;
}

.footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: absolute;
  bottom: 0px;
  height: 3em;
  margin-top: 20em;
  text-align: left;
  font-size: 22px;
}
.footer h4 {
  margin-top: 2px;
  margin-left: 3em;
}
