* {
  font-family: Helvetica;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #fff;
  color: black;
  margin: 0;
  overflow: auto;
}

h1 {
  font-size: 30px;
  color: #378BFF;
}

h2 {
  margin: 0;
  font-size: 34px;
  color: rgba(0, 0, 0, 0.8);
}

h3 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
}

p {
  font-size: 18px;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  margin-top: 3.38983%;
  border: 0;
  height: 2px;
  width: 80%;
  background: #333;
  background-image: linear-gradient(to right, #cccccc, #333333, #cccccc);
}

nav {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px #DDDDDD;
}
nav:after {
  content: " ";
  display: block;
  clear: both;
}
nav h1 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  margin: 0;
  margin-left: 1em;
  padding: 8px;
}
nav ul {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  margin: 0;
}
nav ul a {
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding-top: 18px;
  padding-bottom: 12px;
  display: inline-block;
  font-size: 20px;
  margin-left: 2rem;
}
nav ul a:hover {
  color: #424242;
}

.link-active {
  border-bottom: 1px solid #FF4751;
  color: rgba(0, 0, 0, 0.8);
}

.content, .storyboard {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.38983%;
}
.content:after, .storyboard:after {
  content: " ";
  display: block;
  clear: both;
}

.storyboard {
  padding-right: 40px;
}
.storyboard li {
  width: 32.20339%;
  float: left;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1.69492%;
  position: relative;
}
.storyboard li:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
.storyboard li:nth-child(3n + 2) {
  margin-left: 33.89831%;
  margin-right: -100%;
  clear: none;
}
.storyboard li:nth-child(3n + 3) {
  margin-left: 67.79661%;
  margin-right: -100%;
  clear: none;
}
.storyboard li:after {
  content: " ";
  display: block;
  clear: both;
}
.storyboard li:hover {
  -moz-box-shadow: #E5E6E9 4px 4px 6px;
  -webkit-box-shadow: #E5E6E9 4px 4px 6px;
  box-shadow: #E5E6E9 4px 4px 6px;
  border: 2px solid;
  border-color: #cfd1d6 #c9cbd1 #babcc2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: -1px;
}
.storyboard li img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.storyboard li .textover {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.storyboard li .textover h3 {
  margin: 0;
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.story {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.story:after {
  content: " ";
  display: block;
  clear: both;
}
.story img {
  margin-top: 3.38983%;
  margin-bottom: 5.26316%;
}
.story h3 {
  display: inline-block;
}

.editing * {
  border: 1px solid black;
}

.editable img:hover {
  cursor: pointer;
}

.clicked {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.buttonList {
  margin: 0;
  padding-top: 1em;
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
  float: right;
}
.buttonList img {
  padding-top: 0.5em;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.08s;
  -o-transition-duration: 0.08s;
  -webkit-transition-duration: 0.08s;
  transition-duration: 0.08s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.buttonList img:hover {
  -moz-transform: scale(0.97, 0.97);
  -ms-transform: scale(0.97, 0.97);
  -webkit-transform: scale(0.97, 0.97);
  transform: scale(0.97, 0.97);
  cursor: pointer;
}

.text {
  clear: both;
  width: 66.10169%;
  margin: 0 auto;
}

.biglead {
  width: 100%;
  height: 400px;
  color: white;
  position: relative;
}
.biglead h2 {
  position: absolute;
  font-size: 48px;
  bottom: 0;
  left: 0;
  padding: 1.69492%;
}

.blue {
  background-color: #00aedb;
}

.red {
  background-color: #d11141;
}

.orange {
  background-color: #f37735;
}

.yellow {
  background-color: #ffc425;
}
