@import "bourbon/bourbon";
@import "neat/neat";
@import "../../node_modules/tachyons-sass/tachyons.scss";

.story {
  color: black;
  margin-top: 4em;
  @include outer-container;
}

.story-image {
  border: 1px solid white;
  @include span-columns(8);
  @include shift(2);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.story-content {
  // @include span-columns(9);
  width: 100%;
  display: inline-block;
  // @include background-image(url("../img/adventure.jpeg"));

  article {
    @extend .bg-white-80;
    padding-bottom: 6em;
    @include span-columns(8);
    @include shift(2);
  }
}

.story-header {
  text-transform: uppercase;
  margin-bottom: 2em;
  padding: 1em;
  @include span-columns(5);
  @include shift(3.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  background-color: yellow;
  .title { font-weight: bold }
  h3 {
    font-weight: normal;
    @extend .mv1;
    .name {
      color: blue;
    }
  }

}
.story-text {
  @extend .pa3, .bg-white;
  @include span-columns(9);

  &::first-letter {
    font-size: 2em;
    font-weight: bold;
  }
}

.story-sidebar {
  @extend .pa3, .bg-white;
  @include span-columns(3);
}

.public-DraftEditorPlaceholder-root {
    color: #9197a3;
    position: absolute;
    z-index: 0;
}

// .public-DraftEditor-content {
//   outline: none;
// }

.public-DraftEditorPlaceholder-hasFocus {
    color: #bdc1c9;
}
