@import "global.scss";

.login {
  padding: gutters(4);
  width: 100%;
  height: 100%;
  // padding: 4em;
  // background-size: cover;
  // height: 1000px;
  // width: 100vw;
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}

.card {
  display: inline;
  padding: 2em;
  @include display-flex;
  @include flex-direction(column);
  color: black;
  h2 {
    // color: white;
  }
}

.error {
  background-color: #CF3934;
}