@import '../../node_modules/tachyons/css/tachyons.css';
@import 'compass/css3';
@import 'global.scss';

.item {
  // color: $blue;
  opacity: 1;
  transition: all .15s ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: .9;
    transition: all .15s ease-in-out;
    color: $red;
  }
}
.bar1 {
  background: $red;
  width: 260px;
  height: 10px;
  // float: right;
}