@import "bourbon/bourbon";
@import "neat/neat";
@import "../../node_modules/tachyons-sass/tachyons.scss";
@import "../../node_modules/react-select/dist/react-select.css";
@import "../../node_modules/slick-carousel/slick/slick.css";
// @import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import "slick-theme.css";
@import "global.scss";

* {
  border-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
  color: $yellow;
}

h2 {
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0;
  display: inline-block;
  color: black;
  font-weight: bold;
  background-color: $yellow;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  display: inline-block;
  @include vertical-margin(0.5rem);
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.5;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
  @include vertical-margin(0.5rem);
}

button {
  background: white;
  color: black;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.hoverfade {
  opacity: 1;
  transition: all .15s ease-out;
  &:hover {
    cursor: pointer;
    opacity: .9;
    transition: all .15s ease-out;
  }
}

.logo:hover {
  cursor: pointer;
}

.disabled {
  opacity: .5;
  &:hover {
    cursor: not-allowed;
  }
}

.write {
  &:hover {
    cursor: cell;
  }
}


// .explore {
//   width: 100%;
//   height: 80vh;

//   h2 {
//     margin-top: 0;
//     padding-left: 3em;
//     padding-right: 3em;
//   }
// }


// .center-wrap {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   margin-top: 0;
// }