@import 'compass/css3';
@import 'global.scss';
@import 'editor.scss';

body {
  background-color: #fafafa;
}

.item {
  opacity: 1;
  transition: all .15s ease-out;
  &:hover {
    cursor: pointer;
    opacity: .9;
    transition: all .15s ease-out;
    // color: $red;
    @include medium-shadow();
    @include translateY(-2px);
  }
}
.bar1 {
  background: $red;
  width: 260px;
  height: 8px;
}

.bar {
  border-color: $red;
}

.logo:hover {
  cursor: pointer;
}

.disabled {
  opacity: .5;
  &:hover {
    cursor: not-allowed;
  }
}

.write {
  &:hover {
    cursor: cell;
  }
}

.sticky {
  background-color: rgba(255,255,255, 0.95);
  border-color: #d0d1d5;
}

@media screen and (max-width: 48em) {
  .sticky {
    display: none !important;
  }
}

.tag_text {
  font-size: 0.75em;
}

.active_shadow {
  @include medium-shadow();
}

.custom-input {
  outline: none;
}

.custom-button {
  background-color: $red;
  width: 80px;
  outline: none;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: white;
    color: $red;
  }
}