@import "neat/neat";
@import "global.scss";

.page {
  color: black;
  margin-top: 4em;
  @include outer-container;
}

.content {
  position: relative;
  width: 100%;
  display: inline-block;
  @include outer-container;

  article {
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    padding-bottom: 6em;
    @include span-columns(10);
    @include shift(1);
  }
}

header {
  @extend .small-card;
  text-transform: uppercase;
  margin-bottom: 2em;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  background-color: $yellow !important;
}

.card {
  display: inline-block;
  @include whitebox;
  p {
    display: inline-block;
  }
}

.large-card {
  @extend .card;
  @include span-columns(8)
  &.center {
    @include shift(2)
  }
}

.small-card {
  @extend .card;
  @include span-columns(5)
  &.center {
    @include shift(3.5)
  }
}

.third-card {
  @extend .card;
  @include span-columns(4, collapse);
  // @include pad();
  // @include reset-display;
  // @include omega();
}

.right {
  float: right;
  h2 {
    float: right;
  }
}

.full {
  width: 100%;
}

.measure {
  max-width: 40em;
  display: inline-block;
}

.space-top {
  margin-top: 2em;
}

.space-bottom {
  margin-bottom: 2em;
}