@import 'story.scss';
@import 'neat/neat';
@import 'global.scss';

.story-responses {
  display: inline-block;
  header {
    margin-bottom: 1em;
  }

  .small-card {
    padding: 1em;
    margin-bottom: 1em; 
  }
}

.response {
  position: relative;
  display: inline-block;
  background-color: white;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;

  h4 {
    margin-top: 1em;
    font-weight: normal;
    &.top {
      margin-top: 0;
      padding-top: 1em; 
      border-width: 0.2rem;
      border-top-style: solid;
      font-weight: bold;
    }
  }

  button {
    position: absolute;
    right: 1em;
    bottom: 1em;
    outline: 1px solid $yellow;
  }

}

.response-left {
  float: left;
  @include span-columns(3);
}

.response-right {
  @include span-columns(9);
  @include omega();
}