@import 'editor.scss';
@import 'neat/neat';
@import 'global.scss';

.story-responses {
  display: inline-block;
  margin-top: 2em;

  .textcard {
    @extend .story-header;
    background-color: white;
    text-transform: none;
  }
}

.response {
  position: relative;
  display: inline-block;
  background-color: white;
  width: 100%;
  @include vertical-margin(1em);
  padding: 1em;

  button {
    position: absolute;
    right: 1em;
    bottom: 1em;
    outline: 1px solid $yellow;
  }

}

.response-left {
  float: left;
  @include span-columns(3);
}

.response-right {
  @include span-columns(9);
  @include omega();
}