@import "global.scss";
@import "compass/utilities/general/clearfix";
$alt_gutters: 30px;

.leadimage {
  min-height: 450px;
  max-height: 950px;
  height: calc(100vh - 175px);
  color: white;
  position: relative;
}

.overlay {
  color: white;
  position: absolute;
  bottom: 6em;
}

.fullimage {
  background-color: black;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 2;
}

.darkbar {
  background-color: rgba(#1F6FA8,0.7);
  padding: 1.5em;
  padding-left: 9em;
  padding-right: 3em;
  @include display-flex;
}

.lightbar {
  background-color: rgba(#82CBFF, 0.7);
  height: 12px;
  width: 70%;
}

.storyboard {
  // padding-top: gutters(8);

  // @include desktop {
  //   padding: 0;
  //   padding-top: gutters(8);
  // }
}

.storyboard_item {
    // position: relative;
    background-color: white;
    @include ease(all, 0.15s);
    @include border-radius(2px);
    // height: 600px;
    // border: 2px solid $darkest;
    // @include container(100%);
    a {
      height: 100%;
      @include display-flex;
      @include justify-content(flex-start);
    }

    object {
      // padding: gutter(8);
      padding: $alt_gutters;
    }
    
    // margin-bottom: 4em;
    // margin-top: gutter(8);
    margin-top: $alt_gutters;
    list-style-type: none;
    // height: 850px;

    @include span(8 of 8);
    // margin-bottom: gutters(4);
    // padding: gutters(4);

    // @include desktop {
    //   @include gallery(4 of 8);
    //   margin-bottom: gutters(8);
    //   height: 650px;
    // }

    &:hover {
      @include medium-shadow();
      @include translateY(-2px);
      // margin-top: -1px;
    }


    .textover {
      @include display-flex();
      @include align-items(center);
    }

    position: relative;
    .bar1 {
      position: absolute;
      bottom: $alt_gutters;
      right: $alt_gutters;
    }

  }
