$top: 140px;


.image-uploader {
  margin-top: $top;
  margin-bottom: 20px;
  width: 100%;
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  input {
    display: none;
  }
}

.image {
  position: relative;

  &:hover {
    cursor: pointer;
    @include medium-shadow;
  }
}

.image:after {
    content: "";
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity:0;
    // @include ease(all, 2);
    -webkit-transition: all 0.1s;

}

.image:hover:after {
  opacity:1;
}

.image-object {
  width: 400px;
  height: 100px;
  background-color: red;
}

.loading {
  background-color: black;
  // background-blend-mode: screen;
}

.story {
  margin-top: $top;
  // @include container(92%);
  // @include ease(box-shadow, 2s);
  // @include ease(outline, 1s);
  margin: 0 auto;
  max-width: 900px;
  margin-top: 2em;

  // font-size: 20px;

  @include desktop {
    // padding-left: 10em;
    // padding-right: 10em;
    // @include container(60%);
    max-width: 800px;
    margin: 0 auto;
  }

  // h2 {
  //  color: $darkgrey;
  //  font-weight: 900;
  //  font-family: 'Source Sans Pro', sans-serif;
  //  font-size: 50px;

  // }

  // h3 {
  //  font-family: "Lato";
  //  font-size: 30px;
  //  color: $lightgrey;
  // }

  .title {
    margin-top: 30px;
    margin-bottom: 5px;
    // width: 100%;
    padding-left: 20px;
    @include desktop {
      padding-left: 20px;
      padding-top: 20px;
    }
  }

  .author {
    // margin-bottom: 1em;
    padding-left: 20px;
    
    @include desktop {
      padding-left: 20px;
    }
  }

  .text {
    font-family: "PT Serif", serif;
    // font-size: 24px;
    // line-height: 1.8;
    padding: 40px;

    @include desktop {
      padding: 50px;
      font-size: 22px;
    }

  }
}

.about {
  margin-top: 4em;
  padding: 2em;
}

// .header-one {
//   font-size: 36px;
//   font-weight: bold;
//   color: orangered;
// }

// .header-two {
//   font-size: 24px;
//   font-weight: bold;
// }


