@import "susy";
@import "compass/css3";
@import "compass/css3/transform";
@import "../../node_modules/medium-editor/src/sass/medium-editor.scss";
// @import "./medium-editor.css";
@import "mixins.scss";

$susy: (
	columns: 12,
	gutters: 1 / 8,
);

$lightgrey: #7b8994;
$darkgrey: #47525d;
$darkest: #3d464d;
$blue: #2e9fff;

@include border-box-sizing;

* {
	display: block;
	margin: 0;
	padding: 0;
}

//PT Serif
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,700italic);
//Lato
@import url(https://fonts.googleapis.com/css?family=Lato:900,700,400);
//Sourse Sans
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);
@include scrollbars(6px, #A8ADB0);

body {
	font-family: "Lato";
	font-size: 10px;
}

// .wrap {
// 	@include container(94%);
// 	// margin-top: 100px;
// }

.content {
	@include container(1540px);
	// position: relative;
	// max-width: 1540px;
	// margin: 0 auto;
}

// #react-app-mount {
// 	@extend .wrap;
// }

// h1 {
// 	font-family
// }

a {
	color: inherit;
	text-decoration: none;
}

.bar {
	height: 5px;
	width: 100px;
	background: $blue;
	float: left;
	margin-top: 4em;
	// position: absolute;
	// bottom: 0px;
	// right: 0px;
}





nav {
	@include container(1580px);
	// position: relative;
	height: 90px;

	.logo {
		// display: inline-block;
		position: absolute;
		padding-top: 3em;
		// float: left;
		width: 550px;
		z-index: 1;
	}

	ul {
		float: right;
		margin-right: 30px;
		margin-top: 60px;
		font-size: 16px;
		// @include display-flex;

		a {
			float: left;
			margin-left: 20px;
			align-items: center;
			cursor: pointer;

			&:hover {
				padding-bottom: 4px;
				border-bottom: 2px solid $blue;
				opacity: 0.55;
			}
		}

	}

}

.controlbar {
	// position: absolute;
	// top: 80px;
	// right: 120px;
	// width: 200px;
	float: right;

	span {
		font-size: 24px;
		font-family: "Helvetica";
		border: 1px solid $darkgrey;
		padding: 10px;
		margin-right: 20px;
		float: left;

		&:hover {
			background: $lightgrey;
			cursor: pointer;
		}

	}

}

.bigbar {
	height: 5px;
	width: 200px;
	// width: 100%;
	background: $blue;
}

.leadinfo {
	margin: 3em;
	padding: 3em;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	max-width: 66%;

	&:hover {
		// margin-top: -2px;
		bottom: 1px;
		// left: 1px;
		// @include heavy-shadow(6px);
		@include box-shadow(rgba(255,255,255, 0.3) -8px 8px 0px);
	}

	h1 {
		color: white;
		font-size: 6em;
		// text-align: right;
	}

	h2 {
		font-family: "PT Serif", serif;
		font-weight: 400;
		font-size: 20px;
		color: white;
		width: 83%;
		// text-align: right;
	}
}

.leadimage {
	margin-bottom: 4em;
	position: relative;
	top: 0px;
	width: 100%;
	max-height: 950px;
	// @include container(100%);
	// @include display-flex;
	// @include justify-content(center);
	// @include align-items(center);


	img {
		max-width: 100%;
		margin: 0 auto;

		&:hover {
			@include heavy-shadow;
		}
		cursor: pointer;
	}
}

// .logo {
	// width: 25%;
// }
// 		position: fixed;
// 		top: 0px;
// 		margin: 20px;
// 		width: 120px;
// 		cursor: pointer;
// 		@include ease(margin, 0.08s);
// 		z-index: 1;

// 		&.left {
// 			left: 0px;
// 		}
// 		&.right {
// 			right: 6px;
// 		}

// 		&.second {
// 			top: 60px;
// 		}
		
// 		&.third {
// 			top: 120px;
// 		}

// 		@include desktop {
// 			width: 50px;
// 		}

// 	}

.hidden {
	visibility: hidden;
}

// .imageloader img {
// 	opacity: 1;
// 	@include ease(opacity, 5s);
// 	width: 90%;
// }

.image_wrapper {
	// width: 200px;
	// height: 160px;
	position: absolute;
	overflow: hidden;

	&.loaded {
		opacity: 0.9;
	}
}
.preview {
	position: absolute;
	width: 100%;
	height: 100%;
}
.blur {
	 @include filter(blur(5px));
}

.storyboard {
	margin: 0 auto;
	// margin-left: 2%;
	padding: 0;

	@include desktop {
		// @include container(56%)
	}

	li {
		// position: relative;
		// overflow: none;
		outline: 1px solid $lightgrey;
		margin-bottom: 4em;
		height: 400px;

		@include phone {
			@include span(1 of 1);
			// margin-bottom: gutter()*2;
			margin-bottom: 2em;
		}

		@include desktop {
			@include gallery(1 of 2);
			// margin-bottom: gutter();
			// height: 320px;
		}

		&:hover {
			@include heavy-shadow();
			// margin-top: -1px;
		}

		a {
			@include display-flex;
		// @include justify-content(center);
			@include align-items(flex-start);
		}

		.storythumb {
			// float: left;
			// padding-top: 40px;
			// align-self: flex-start;
			// width: 55%;
		}

		.textover {
			// align-self: flex-end;
			margin-top: 50px;
			padding: 20px;

			h3 {
				font-family: "Lato";
				font-size: 36px;
			}

			h4 {
				font-size: 24px;
				margin-top: 15px;
			}

			// opacity: 0;
			// display: inline-block;

			&:hover {
				// opacity: 1;
				// position: absolute;
				// width: 100%;
				// height: 100%;
				// color: white;
				// background-color: rgba(0,0,0, 0.5);
			}
		}
	}
}

.imguploader {
	width: 100%;
	padding-top: 150px;
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);

	img {
		max-width: 100vw;

		&:hover {
			// @include translateY(-10px);
			cursor: pointer;
			// @include box-shadow($darkgrey -8px 8px 0px);
			@include heavy-shadow;
		}
	}

	input {
		display: none;
	}
}


.story {
	@include container(92%);
	@include ease(box-shadow, 2s);
	@include ease(outline, 1s);
	margin: 0 auto;
	margin-top: 2em;

	font-size: 20px;

	@include desktop {
		// padding-left: 10em;
		// padding-right: 10em;
		@include container(46%);
	}

	h2 {
		color: $darkgrey;
		font-weight: 900;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 50px;

	}

	h3 {
		font-family: "Lato";
		font-size: 30px;
		color: $lightgrey;
	}

	.author {
		margin-bottom: 1em;
	}

	.text {
		font-family: "PT Serif", serif;
		font-size: 2em;
		line-height: 1.58;

		@include desktop {
			font-size: 1em;
		}

	}
}



.editor {
	@include heavy-shadow;
	outline: 1px solid $lightgrey;
	@include translateY(-10);
}

.login {
	@include container(50%);
	padding: 20px;
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
}

.logout {

}


.footer {
	@include span(12 of 12);
	display: absolute;
	bottom: 0px;
	height: 3em;
	margin-top: 20em;
	text-align: left;
	font-size: 22px;
	
	h4 {
		margin-top: 2px;
		margin-left: 3em;
	}	

}