// Screen
// ======

@import "compass/css3";
@import "../../node_modules/medium-editor/src/sass/medium-editor.scss";
@import "susy";
@import "mixins.scss";

$susy: (
	columns: 12,
	gutters: 1 / 4,
	global-box-sizing: border-box
);

$white: #f5f5f5;
$lightgrey: #7b8994;
$darkgrey: #47525d;
$darkest: #3d464d;
$blue: #2e9fff;

@mixin light-border {
	border: 2px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	@include border-radius(3px);
}

@mixin selected-border {
	border: 2px solid;
	border-color: darken(#e5e6e9, 8%) darken(#dfe0e4, 8%) darken(#d0d1d5, 8%);
	@include border-radius(3px);
}

@mixin ease($property, $duration) {
	@include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function(ease-in);
}

// @fontface {
// 	font-family: Futura;
// 	src: url('FuturaLT-Light.ttf')
// }

* {
	font-family: Helvetica;
}

html {
	overflow-y: scroll;
}

body {
	background-color: #fff;
	color: black;
	margin: 0;
	overflow: auto;
}

h1 {
	// font-family: 'Josefin Sans', serif;
	font-family: Futura, sans;
	font-weight: 400;
	font-size: 32px;
}

h2 {
	margin: 0;
	margin-top: 1em;
	font-size: 38px;
	color: rgba(0, 0, 0, 0.8)
}

h3 {
	font-size: 28px;
	color: rgba(0, 0, 0, 0.54)
}

p {
	margin: 0;
	// font-size: 21px;
}

ul {
	li {
		list-style: none;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

hr {
	margin-top: gutter()/2;
	border: 0;
	height: 1px;
	width: 90%;
	background: #333;
}

.downclick {
	margin: gutter() * 1.1;
}

//Nav Style
nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 4em;

	.logo {
		position: absolute;
		top: 0px;
		left: 0px;
		margin-top: 20px;
		margin-left: 20px;
		width: 60px;
		cursor: pointer;
		@include ease(margin, 0.08s);
	}

  h1 {
  	float: right;
  	display: inline-block;
  	margin: 0;
  	margin-left: 1em;
		padding: 8px;
  }

  ul {

  	@include span(4 last);
  	margin-top: 30px;

	  a {
	  	float: right;
	  	color: rgba(0, 0, 0, 0.6);
	  	margin: 0;
	  	padding-bottom: 4px;
	  	display: inline-block;  	
	  	font-size: 20px;
	  	margin-right: 2rem;

	  	&:hover {
	  		color: #424242;
	  	}
	  }
	}
}

.home {
	@include container(65%);

	h2 {
		text-align: center;
	}

	.topics {
		display: flex;
		justify-content: center;
		
		li {
			font-size: 20px;
			font-weight: 800;
			margin: 1em;
		}
	}

	.storyboard {
		@include container(100%);
	}

}

.footer {
	width: 100%;
	height: 3em;
	margin-top: 20em;
	text-align: left;
	font-size: 22px;
	
	h4 {
		margin-top: 2px;
		margin-left: 3em;
	}	

}

.link-active {
	border-bottom: 1px solid #FF4751;
	color: rgba(0, 0, 0, 0.8);
}

.editorbutton {
	position: absolute;
	width: 60px;
	right: 20px;
	top: 60px;

	&:hover {
		cursor: pointer;	
	}
}

@mixin content() {
	@include container(65%);
	margin-top: 2em;
}

.content {
	@include container(65%);
	margin-top: 2em;
}

.e {
	border: 2px solid blue;
}

// Storyboard Style
.storyboard {
	@include content;
	padding-right: 40px;

	li {
		@include gallery(4);
		@include container();
		@include light-border;
		margin-bottom: gutter();
		position: relative;

		&:hover {
			@include box-shadow(#E5E6E9 4px 4px 6px);
			@include selected-border();
			margin-top: -1px;
		}

		img {
			@include span(1 of 1);
		}

		.textover {
			opacity: 0;

			&:hover {
				opacity: 1;
				position: absolute;
				width: 100%;
				height: 100%;
				color: white;
				background-color: rgba(0,0,0, 0.5);
			}
			// left: gutter();

			h3 {
				color: white;
				font-size: 18px;
				margin: 0;
				position: absolute;
				bottom: 1em;
				left: 1em;
			}
		}
	}
}

// For medium-editor

*[contenteditable=true] {
  outline: 0;
}

#fleximg {
	display: flex;
	justify-content: center;
}

// Single-story style
.story {
	@include content;
	@include ease(all, 0.2s);
	max-width: 700px;

	div {
		padding-left: gutter() * 3;
		padding-right: gutter() * 3;
	}

	h3 {
		// display: inline-block;
	}

	p {
		word-break: break-all;
	}

}

.editing {
	@include box-shadow(#B6B6B6 5px 5px 20px);
	@include translate(-2px, -2px);
}

.editable {
	img {
		&:hover {
			cursor: pointer;
		}
	}
}


.clicked {
	@include filter(brightness(50%));
}


.buttonList {
	position: fixed;
	top: 80px;
	right: 20px;
	width: 60px;

	margin: 0;
	padding: 0;

	img {
		width: 60px;
		height: 60px;
		padding-top: 0.5em;
		opacity: 0.8;
		@include ease(all, 0.12s);

		&:hover {
			// @include scale(0.97);
			opacity: 1;
			cursor: pointer;
		}
	}

	.slidebutton {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
	}

	.visible {
		@include translate(0, 70px);
		opacity: 1;
	}

}

// Post story style
.biglead {
	width: 100%;
	height: 400px;
	color: $darkest;
	// display:flex;
	// justify-content: center;
	// align-items: center;
	height: 100vh;

	div {
		width: 200px;
		height: 200px;
		border: 4px solid $darkest;
	}

	h1 {
		height: 50px;
		line-height: 60px;
		margin: 10px;
	}

	h2 {
		position: absolute;
		font-size: 48px;
		bottom: 0;
		left: 0;
		padding: gutter();
	}
}

.blue {
	background-color: #00aedb;
}

.red {
	background-color: #d11141;
}

.orange {
	background-color: #f37735;
}

.yellow {
	background-color: #ffc425;
}

@mixin formbox {
	display: block;
	appearance: none;
	outline: 0;
	border: 1px solid $darkgrey;
	background-color: fade(white, 20%);
	@include span(3 of 5);
	float: none;
	text-align: center;
	margin: 0 auto 10px auto;
	font-size: 18px;
	font-weight: 300;
	padding: 10px 15px;
	@include border-radius(3px);
	transition-duration: 0.25s;
}

.login {
	@include container(45%);
	margin-top: gutter() * 2;

	div {
		// background: $lightgrey;
		margin-top: 2em;
		padding: 2em;
		@include box-shadow(#B6B6B6 2px 2px 8px);
	}

	h2 {
		display: block;
		margin: 0 auto 10px auto;
		text-align: center;
	}

	p {
		font-size: 14px;
		float: right;
	}

	input {
		@include formbox;
				
		&:hover{
			background-color: $lightgrey;
		}
		
		&:focus{
			background-color: white;			
			color: orangered;
		}
	}

	button{
		@include formbox;
		cursor: pointer;
		
		&:hover{
			background-color: rgb(245, 247, 249);
		}
	}

}






// .post {
// 	@include container(80%);

// 	textarea {
// 		font-size: 20px;
// 		width: 80%;
// 		margin-top: 2em;
// 	}

// 	div {
// 		@include span(1 of 4 first);
// 		@include light-border;
// 		padding: gutter();
// 		height: 20rem;
// 		margin: gutter();

// 		p {
// 			font-size: 16px;
// 		}

// 	}

// 	.button {
// 		height: 40px;
// 		line-height: 40px;
// 		text-align: center;
// 		margin-top: gutter();

// 		&:hover {
// 			margin-top: gutter() - 0.2;
// 			@include box-shadow(#bbb 1px 1px 3px);
// 			cursor: pointer;
// 		}

// 	}
// 	.name .title {
// 		height: 0.5em;
// 	}

// 	.body {
// 		height: 6em;
// 	}

// }





